html, body, .full-height {
    height: 100%;
}

.content-height {
    height: 80%;
}

.head-height {
    height: 15%;
}

.btn-margin {
    margin-right: 5px;
}
#well {
    height: 100%;
    margin-bottom: 0;
    overflow: auto;
}